<div class="container h-75 w-50 d-flex justify-content-center align-items-center">
    <div class="card text-center">
        <div class="card-header titulos h2">{{ tituloComponente }}</div>
        <div class="card-body">
          <form #formulario1="ngForm">
            <div class="row">
                <div class="col-md-6">
                    <mdb-form-control>
                        <input [(ngModel)]="game.nome"  minlength="2" mdbInput required pattern=".*\S+.*" type="text"
                            class="form-control mb-4" name="nome" placeholder="Nome do Jogo"/>
                        <label mdbLabel class="form-label" for="nome">Titulo</label>
                    </mdb-form-control>
                </div>
                <div class="col-md-6">
                    <mdb-form-control>
                        <input [(ngModel)]="game.sigla" mdbInput required minlength="2" pattern=".*\S+.*" type="text" class="form-control mb-4"
                            name="sigla" placeholder="Ex: Tk8 (Tekken 8)" />
                        <label mdbLabel class="form-label" for="sigla">Sigla</label>
                    </mdb-form-control>
                </div>
            </div>
    
            <!-- Text input -->
            <mdb-form-control class="mb-4">
                <textarea [(ngModel)]="game.descricao" mdbInput required pattern=".*\S+.*" type="text" class="form-control"
                    name="descricao" rows="2"></textarea>
                <label mdbLabel class="form-label" for="descricao">Descrição</label>
            </mdb-form-control>
    
            <!-- Text input -->
            <mdb-form-control class="mb-4">
                <input [(ngModel)]="game.link" required mdbInput type="text" class="form-control"
                    name="link" placeholder="https://exemplo.com"/>
                <label mdbLabel class="form-label" for="link">Link</label>
            </mdb-form-control>
    
            <!-- Email input -->
            <mdb-form-control class="mb-4">
                <input [(ngModel)]="game.preco" mdbInput required type="number" class="form-control"
                    name="preco" placeholder="Preço na Steam" />
                <label mdbLabel class="form-label" for="preco">Valor</label>
            </mdb-form-control>
    
            <!-- Submit button -->
            @if(game.id == 0){
            <button [disabled]="!formulario1.valid" (click)="save()" class="btn btn-primary">
                Salvar
                
            </button>
            }@else{
            <button [disabled]="!formulario1.valid" class="btn btn-proprio">
                Atualizar
                <!-- (click)="update()" -->
            </button>
            }
        </form>
        </div>
        <div class="card-footer"><i class="fa-solid fa-dragon mx-2"></i>Equipe RDP</div>
      </div>
</div>