<div class="config">
    <div class="container">
        <div class="d-flex justify-content-end">
            
            <form class="d-flex input-group w-auto">
                <input
                  type="search"
                  class="form-control"
                  placeholder="Type query"
                  aria-label="Search"
                />
                <button class="btn btn-outline-success" type="button">
                  Search
                </button>
              </form>
              <button class="btn btn-outline-danger ms-4">Adicionar</button>
        </div>
    </div>
    <div class="d-flex justify-content-center row gx-0">
        @for (game of games; track $index){
        <div class="col-md-6">
            <div class="card-game" style="background-image: url(/assets/logo/{{game.sigla}}.png);">
                <!-- <div class="card-style"> -->
                    <a class="card-style" href="#">{{game.nome}}</a>
                <!-- </div> -->
            </div>
        </div>
        }
    </div>
</div>