.container {
    background: var(--preto);
}

.savePersonagem {
    background: var(--laranja);
}

* {
    color: var(--branco);
}

.cancel {
    background: var(--cinza);
}

.card-header {
    --mdb-card-header-border-color: var(--laranja);
}