<div class="row mt-4">
  <div class="col-1"></div>
  <div class="col-7">
    <div class="card rounded border border-2 overview">
      <div class="card-header mt-2 text-center">
        <h5 class="germania fw-bolder">OVERVIEW</h5>
      </div>
      <div class="card-body">
        <p class="afacad">
          Kokonoe is a well-rounded character with a variety of tools. She has
          traps to set up strong setplay and mixups, alongside great normals to
          control space. These benefits are all backed up with strong damage and
          great corner carry. Kokonoe's Drive lets her use Gravitons to push and
          pull both herself and her opponent in order to catch opponents off
          guard or reposition herself. In the right hands, Kokonoe can dismantle
          any character with superior neutral tools and stellar setplay.
          <br /><br />
          Kokonoe is not without her weaknesses, however. In neutral, characters
          that can ignore the midrange find great success. Mobile characters can
          run up close to blow her up for setting traps, and zoners can
          disengage from them entirely. On offense, some of her setups and
          combos require more spatial awareness and adjustments than average.
          Additionally, characters with good reversals can break some of her
          setups. As a result, her matchups tend to vary greatly. These traits
          altogether make for a character that is somewhat difficult to pick up.
          The reward, thankfully, is worth the trouble. Kokonoe has a strong
          toolset that leaves room for creativity and expression.
        </p>
      </div>
    </div>
  </div>
  <div class="col-3 me-4">
    <div class="card rounded border border-2 infobox">
      <div class="card-header mt-2 text-center">
        <h1 class="fw-bolder germania">KOKONOE</h1>
      </div>
      <div class="card-body">
        <table class="col-12">
          <tbody>
            <tr>
              <td>
                <img src="assets/BBCF_Kokonoe_Portrait.png" width="100%" />
              </td>
            </tr>
            <tr class="border-top fw-bolder germania">
              <td>Health</td>
            </tr>
            <tr class="text-end afacad">
              <td>10,500</td>
            </tr>
            <tr class="border-top fw-bolder germania">
              <td>Prejump</td>
            </tr>
            <tr class="text-end afacad">
              <td>4F</td>
            </tr>
            <tr class="border-top fw-bolder germania">
              <td>Backdash</td>
            </tr>
            <tr class="text-end afacad">
              <td>22F (1~7 Inv All, 2~13 airborne)</td>
            </tr>
            <tr class="border-top fw-bolder germania">
              <td>Unique Movement Options</td>
            </tr>
            <tr class="text-end afacad">
              <td>Gravitons</td>
            </tr>
            <tr class="border-top fw-bolder germania">
              <td>Fastest Attack</td>
            </tr>
            <tr class="text-end afacad">
              <td>5A (6F)</td>
            </tr>
            <tr class="border-top fw-bolder germania">
              <td>Reversals</td>
            </tr>
            <tr class="text-end afacad">
              <td>214214A/B/C (10F/13F/16F)</td>
            </tr>
            <tr class="border-top fw-bolder germania">
              <td>Fatal Starters</td>
            </tr>
            <tr class="text-end afacad">
              <td>2C - 6C - j.2C</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- <div class="container infobox">
      <h5>Contents</h5>
      <div class="list-group list-group-small mt-3 border-start">
        <a
          href="#"
          class="list-group-item list-group-item-action px-3 border-0"
          mdbRipple
          >The current link item with a ripple</a
        >
        <a
          href="#"
          class="list-group-item list-group-item-action px-3 border-0"
          mdbRipple
          >A second link item with a ripple</a
        >
        <a
          href="#"
          class="list-group-item list-group-item-action px-3 border-0"
          mdbRipple
          >A third link item with a ripple</a
        >
        <a
          href="#"
          class="list-group-item list-group-item-action px-3 border-0"
          mdbRipple
          >A fourth link item with a ripple</a
        >
      </div>
    </div> -->
  </div>
</div>
