<div class="card m-4">
  <div class="row card-body col-12">
    <div class="col-1"></div>
    <div class="col-7">
      <!-- overview -->

      <div class="card rounded border border-2 overview">
        <div class="card-header mt-2 text-center">
          <h5 class="titulos fw-bolder">GAMEPLAY</h5>
        </div>
        <div class="card-body">
          <div class="resume">
            <p class="afacad">
              {{ character.descricao }}
            </p>
          </div>
          <div class="row">
            <div class="col-6 border">
              <div class="text-center titulos border-bottom border-success p-2">
                STRENGTHS
              </div>
              <div>
                {{ character.strengths }}
              </div>
            </div>
            <div class="col-6 border">
              <div class="text-center titulos border-bottom border-danger p-2">
                WEAKNESSES
              </div>
              <div>
                {{ character.weaknesses }}
              </div>
            </div>
          </div>
          <hr />
          <div class="mt-2">
            <h5 class="titulos text-center">UNIQUE MECHANICS</h5>
            <p class="afacad">
              Kokonoe's Drive summons a Graviton onto the field that attracts
              the opponent and some of Kokonoe's own projectiles towards it like
              a magnet. While the opponent isn't in hitstun, they are pulled
              towards it reasonably gently, whereas they're pulled towards it
              with triple the force while in hitstun. Kokonoe herself is not
              normally affected by the Graviton, although some moves use its
              location to change their properties. The most notable change it
              causes is to Kokonoe's Flame Cage (214A/B/C), which gains the
              ability to change its trajectory. When a Graviton is summoned, it
              will stay on the field until either it expires after a specific
              duration, Kokonoe activates it with 236D/withdraws it with 214D,
              Kokonoe activates various other moves, or the opponent manages to
              land a hit on Kokonoe. Only one Graviton can be on the field at a
              time.
            </p>
          </div>
        </div>
      </div>

      <!-- notable players -->

      <div class="card rounded border border-2 overview mt-2">
        <div class="p-3">
          <h5 class="titulos text-center fw-bolder">Notable Players</h5>
          <table class="table border text-center align-middle">
            <thead class="titulos">
              <tr>
                <th class="col-2">Usual Color</th>
                <th class="col-2">Name</th>
                <th class="col-2">Discord ID</th>
                <th class="col-2">Region</th>
                <th class="col-2">Status</th>
                <th class="col-2">Handles/Links</th>
              </tr>
            </thead>
            <tbody class="afacad">
              <tr>
                <th scope="row" class="p-0">
                  <img
                    src="assets/fighter/colors/BBCF_Kokonoe_color_8.png"
                    width="44"
                    height="100"
                  />
                </th>
                <td><a href="https://x.com/kisaltofgc">Kisalto</a></td>
                <td>Kisaltoo</td>
                <td>Brasil</td>
                <td>Ativo</td>
                <td>
                  <a href="https://replaytheater.app/?game=unib&p1=kisalto"
                    >Replay Theater</a
                  >
                </td>
              </tr>
              <tr>
                <th scope="row" class="p-0">
                  <img
                    src="assets/fighter/colors/BBCF_Kokonoe_color_8.png"
                    width="44"
                    height="100"
                  />
                </th>
                <td><a href="https://x.com/kisaltofgc">Kisalto</a></td>
                <td>Kisaltoo</td>
                <td>Brasil</td>
                <td>Ativo</td>
                <td>
                  <a href="https://replaytheater.app/?game=unib&p1=kisalto"
                    >Replay Theater</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- infobox -->

    <div class="col-3 me-4">
      <div class="card rounded border border-2 infobox">
        <div class="card-header mt-2 text-center">
          <h1 class="fw-bolder titulos">{{ character.nome }}</h1>
        </div>
        <div class="card-body">
          <table class="col-12">
            <tbody>
              <tr>
                <td>
                  <img
                    src="assets\fighter\portraits\BBCF_{{
                      character.nome
                    }}_Portrait.png"
                    width="100%"
                  />
                </td>
              </tr>
              <tr class="border-top fw-bolder titulos">
                <td>Health</td>
              </tr>
              <tr class="text-end afacad">
                <td>10,500</td>
              </tr>
              <tr class="border-top fw-bolder titulos">
                <td>Prejump</td>
              </tr>
              <tr class="text-end afacad">
                <td>4F</td>
              </tr>
              <tr class="border-top fw-bolder titulos">
                <td>Backdash</td>
              </tr>
              <tr class="text-end afacad">
                <td>22F (1~7 Inv All, 2~13 airborne)</td>
              </tr>
              <tr class="border-top fw-bolder titulos">
                <td>Unique Movement Options</td>
              </tr>
              <tr class="text-end afacad">
                <td>Gravitons</td>
              </tr>
              <tr class="border-top fw-bolder titulos">
                <td>Fastest Attack</td>
              </tr>
              <tr class="text-end afacad">
                <td>5A (6F)</td>
              </tr>
              <tr class="border-top fw-bolder titulos">
                <td>Reversals</td>
              </tr>
              <tr class="text-end afacad">
                <td>214214A/B/C (10F/13F/16F)</td>
              </tr>
              <tr class="border-top fw-bolder titulos">
                <td>Fatal Starters</td>
              </tr>
              <tr class="text-end afacad">
                <td>2C - 6C - j.2C</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- <div class="container infobox">
      <h5>Contents</h5>
      <div class="list-group list-group-small mt-3 border-start">
        <a
          href="#"
          class="list-group-item list-group-item-action px-3 border-0"
          mdbRipple
          >The current link item with a ripple</a
        >
        <a
          href="#"
          class="list-group-item list-group-item-action px-3 border-0"
          mdbRipple
          >A second link item with a ripple</a
        >
        <a
          href="#"
          class="list-group-item list-group-item-action px-3 border-0"
          mdbRipple
          >A third link item with a ripple</a
        >
        <a
          href="#"
          class="list-group-item list-group-item-action px-3 border-0"
          mdbRipple
          >A fourth link item with a ripple</a
        >
      </div>
    </div> -->
    </div>
    <div class="row mt-2">
      <div class="col-1"></div>
      <div class="col-10 card rounded border border-2 overview">
        <div class="card-header mt-2">
          <h5 class="titulos text-center fw-bolder">COLORS</h5>
        </div>
        <div class="card-body row">
          <div class="col-1"></div>
          <div class="row col-10">
            @for (color of colors; track $index) {
            <div class="col-2 border p-2">
              <p class="titulos border-bottom text-center">Color {{ color }}</p>
              <img
                src="assets/fighter/colors/BBCF_Kokonoe_color_{{ color }}.png"
                width="100%"
              />
            </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
