.overview {
    margin-left: 0;
    margin-right: 0;
}

.infobox {
    margin-left: 10%;
}

.card {
    background-color: var(--preto);
    color: var(--branco);
}

table {
    color: var(--branco);
}

.border {
    border: var(--mdb-border-width) var(--mdb-border-style) var(--laranja) !important;
}