.config{
    margin: 0;
    padding: 5vh 0;
    color: var(--branco);
    background-image: var(--bg_street);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.corzinha{
    color: var(--branco);
}
.card{
    background-color: rgba(43, 42, 42, 0.8);
    border-radius: 0;
    // border: ;
}
.sidemenu{
    position: static; /* Ou "static" para rolar junto com a tela */

}
