/* Sidebar estilos */
#sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -250px; /* Fica fora da tela inicialmente */
    background-color: rgba(255, 255, 255, 0.9); /* Cor de fundo */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5); /* Sombra */
    transition: left 0.3s ease; /* Transição suave */
    padding: 1rem; /* Espaçamento interno */
   }

.show-sidebar {
    left: 0; /* Quando a classe for adicionada, move para a tela */
}


/* Estilos adicionais */
button {
    margin: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 1rem 0;
}

a {
    text-decoration: none;
    color: #fafafa;
}
