.config{
    margin: 0;
    padding: 5vh 0;
    color: var(--branco);
    background-image: var(--bg_street);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.corzinha{
    color: var(--branco);
}
.card{
    background-color: rgba(43, 42, 42, 0.8);
    border-radius: 0;
    // border: ;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}
.item1 {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .item2 { grid-column-start: 3;
    grid-column-end: 6; }
// .item3 { grid-area: main; }
// .item4 { grid-area: right; }
// .item5 { grid-area: footer; }

