<div class="tela">
  <div class="container pt-4 config">
    <div class="row conteudo">
      <div class="col-md-4 p-2">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime consequuntur consectetur voluptas, hic magnam perferendis, dignissimos iure, nihil illo ex suscipit. Repellat aliquid deleniti sapiente magni dolor praesentium odio nihil.</p>
      </div>
  
  
      <div class="col-md-4 p-2">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime consequuntur consectetur voluptas, hic magnam perferendis, dignissimos iure, nihil illo ex suscipit. Repellat aliquid deleniti sapiente magni dolor praesentium odio nihil.</p>
      </div>
  
  
  
      <div class="col-md-4 p-2 caracteristicas text-start ">
        <div>
          <p>Quantidade de Guias</p>
          <p>Numero</p>
        </div>
        <div>
          <p>Plataforma Disponiveis</p>
          <i class="fab fa-steam mx-1"></i><i class="fab fa-playstation mx-1"></i><i class="fab fa-xbox mx-1"></i>
        </div>
        <div>
          <p>Preço Atual</p>
          <p>Valor</p>
        </div>
        <div>
          <p>Quantidade de Guias</p>
          <p>Numero</p>
        </div>
      </div>
  
  
    </div>
  </div>
</div>
