.tela{
    background-color: var(--preto);
    height: 100%;
    width: 100%;
}
.conteudo{
    background-color: rgba(43, 42, 42, 0.8);
    border-radius: 0;
    // border: ;
}
.config{
    color: var(--branco);
}
