<div class="container mt-5" style="background-color: rgb(0, 0, 0); border-radius: 10px; opacity: 0.9;">
    <h2 class="text-center mb-4" style="color: aliceblue;">Criar Novo Evento</h2>
    
    <!-- Nome do Evento -->
    <div class="form-outline form-white mb-4">
        <mdb-form-control>
            <input mdbInput type="text" id="NomeEvento" class="form-control form-control-lg" />
            <label mdbLabel class="form-label" for="NomeEvento">Nome do Evento</label>
          </mdb-form-control>
    </div>
    
    <!-- Data de Início -->
    <div class="form-outline form-white mb-4">
        <mdb-form-control> 
            <input mdbInput type="date" id="Data de Início" class="form-control form-control-lg" />
            <label  mdbLabel class="form-label" for="Data de Início">Data de Início</label>
        </mdb-form-control>
    </div>
  
    <!-- Data de Término -->
    <div class="form-outline form-white mb-4">
        <mdb-form-control>
            <input mdbInput type="date" id="endDate" class="form-control form-control-lg" />
            <label  mdbLabel class="form-label" for="endDate">Data de Término</label>
        </mdb-form-control>
    </div>
    <div class="form-outline form-white mb-4">
        <mdb-form-control>
            <input mdbInput type="text" id="eventLink" class="form-control form-control-lg" />
            <label  mdbLabel class="form-label" for="eventLink">Link do Evento</label>
        </mdb-form-control>
    </div>
    <!-- Descrição -->
    <div data-mdb-input-init class="form-outline form-white mb-4">
        <mdb-form-control>
            <textarea mdbInput class="form-control" id="description" rows="4"></textarea>
            <label  mdbLabel class="form-label" for="description">Descrição do Evento</label>
        </mdb-form-control>
    </div>
  
    <!-- Botões -->
    <button type="button" class="btn btn-primary btn-block saveEvent mb-4">Salvar Evento</button>
    <button type="button" class="btn btn-secondary btn-block cancel">Cancelar</button>
  </div>
  