<nav class="navbar sticky-top navbar-expand-lg">
  <div class="container-fluid">

    <div class="d-flex justify-content-center align-items-center mx-3">
      <i class="fas fa-dragon nav-btn mx-2"></i>
      <a class="navbar-brand titulos" href="#">Equipe RDP</a>
    </div>

    <button class="navbar-toggler" type="button" (click)="togglerSecondExample.toggle()"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <div class="collapse navbar-collapse ajuste" id="navbarTogglerDemo02" mdbCollapse #togglerSecondExample="mdbCollapse">

      <ul class="navbar-nav mx-3">
        <li class="nav-item">
          <a class="nav-link titulos rotacao" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link titulos rotacao" aria-current="page" href="#">Eventos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link titulos rotacao" aria-current="page" href="main/games">Jogos</a>
        </li>
        <li class="nav-item rotacao">
          <a class="nav-link titulos rotacao" aria-current="page" href="#">Comunidade</a>
        </li>
        <li class="nav-item d-flex align-items-center">
          <a class="nav-link titulos login" aria-current="page" href="#">Login / Registro</a>
        </li>
      </ul>
    </div>
  </div>
</nav>